<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class = "teal lighten-4">
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Stuff details:</h1>
            <table>
                <tr>
                    <th>Item:</th>
                    <td>Red Doritos</td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>0.5</td>

                </tr>
                <tr>
                    <th>Unit:</th>
                    <td>Bags</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        Doritos are great...
                        There are so many different flavors...
                        What a great crunch
                    </td>
                </tr>
            </table>
        </div>

        <div class="section" id="stuffControls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>Edit
            </a>
            <a class="btn-large waves-effect waves-light red right">
                <i class="material-icons right">delete</i>Delete
            </a>
        </div>


        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2>Edit item:</h2>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="name">Item Name:</label>
                            <input type="text" name="name" class="validate" data-length="32" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="quantity">Item Quantity:</label>
                            <input type="number" name="quantity" value=1 required>
                        </div>
                        <div class="input-field col s6">
                            <label for="unit">Item Unit:</label>
                            <input type="text" name="unit" class="validate" data-length="32" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="description">Item Description:</label>
                            <input type="text" name="description" data-length="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit"><i
                                class="material-icons right">send</i>Submit</button>

                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Never Mind</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> M.AutoInit();</script>
</body>
</html>